body {
    font-family: Arial, sans-serif;

               margin: 0;
    
              padding: 0;

}


.container {
    max-width: 1200px;
  
                   margin: 0 auto;
              
    padding: 0 15px;

}


header {
 
background: linear-gradient(135deg, #ff0000 7%, #FFD700 50.33%, #FFB732 40.66%, #FFD700 50.33%, #FFB732 40.66%);
                     color: #ffd700;
                     font-family:Brush script MT', cursive; 
                 
    padding: 10px 0;
                
    position: fixed;
                   
    width: 100%;
                     
    top: 0;
                 
    z-index: 1000;
                     border-box: box-sizing;
}


nav ul {
    list-style-type: none;
                
    padding: 0;
                 
   margin: 0;
                    text-align: center
}


nav ul li {
    display: inline-block;
      
         margin-left: 10px;
               margin-right: 10px;
               margin-bottom: 10px;
               padding: 5px;
/*               border-top: 1px solid black;
               border-left: 1px solid black;*/
               border-radius: 5px;
 }

nav ul li:hover {
    background: linear-gradient(135deg, #ff0000 7%, #FFD700 50.33%, #FFB732 40.66%, #FFD700 50.33%, #FFB732 40.66%);
                     border-radius: 5px;
                     border-right: 2px solid black;
                     border-bottom: 2px solid black;
                     border-top: none;
                     border-left: none;
                     transition: transition 30s ease-in-out;
                     box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.5);
                  
}


nav ul li a {
    color: #fff;

       text-decoration: none;

}


main {
    padding-top: 65px;

    text-align: center;

}

.text-animate1 { font-size: 20px;
                 color: #FFD500;
                 font-weight: bold;
                 animation: fadeInOut 10s ease-in-out infinite;
                 font-family: Brush script MT', cursive;
}

@keyframes fadeInOut {
                 0% {
                   opacity: 0;
                 }
                 50% {
                   opacity: 1;
                 }
                 100% {
                   opacity: 0;
                   }
                 }


footer {
  background: linear-gradient(135deg, #ff0000 7%, #FFD700 50.33%, #FFB732 40.66%, #FFD700 50.33%, #FFB732 40.66%);  
                       color: #fff;

                  text-align: center;

                     padding: 10px 0;

                    position: fixed;
                       width: 100%;

                      bottom: 0;

}

.banner {
         background-color: ;
         color: #FFB732;
         text-align: center;
         padding: 10px 0;
}

#logo {
       background-color: 
linear-gradient(135deg, #ff0000 7%, #FFD700 50.33%, #FFB732 40.66%, #FFD700 50.33%, #FFB732 40.66%);
       box-shadow: 10px 1px 6px 0 rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.3) inset; 
       font-size: 13em;
       font-weight: bold;
       border-top-left-radius: 155px;
       border-top-right-radius: 155px;
       padding: 30px;
       display: inline-block;
       animation: spin 2s linear infinite;
       perspective: 1000px;
       position: relative;
}

#logo div{ 
       width: 80%
       height: 80%
       position: absolute;
       transform-style: preserve-3d;
       transform: rotateX(30deg) rotateY(45deg);
       background-color: rgba(0, 0, 255, 0,5);
}

img {
     display: none;
}

#logo div:hover img{ 
       width: 80%
       height: 80%
       position: absolute;
       transform-style: preserve-3d;
       transform: rotateX(30deg) rotateY(45deg);
       background-color: rgba(0, 0, 255, 0,5);
}

.s1-2 {
         text-shadow: 10px 6px 4px rgba(0, 0, 0, 0.5);
}
.s1 {
     color: #ff0000;
}
 
@keyframes spin {  
       0% {
           transform: rotateY(0deg);
       }
       100% {
           transform: rotateY(360deg);
       }
}
.container-box {
           display: flex;
           position: relative;
           align-item: center;
           margin: 5px;
           justify-content: center;
        
}

.container-boxx {
           display: flex;
           position: relative;
           align-item: center;
           margin: 5px;
           justify-content: center;
        
}

.container1 {
           display: flex;
           justify-content: center;
           align-items: center;
           height: 350px;
           width: 250px;
           background-color: #fff000;
           box-sizing: border-box;
           margin: 20px;
           border: 2px solid black;
           padding: 2px;
}

.item {
       background-color: 5498db;
       color: white;
       font-size: 24px;
       padding: 2px;
       margin: 2px;
       justify-content: center;
}
h5 .item-title{
       margin-top: 80px;
}
button{
      margin-top: 100px;
}