body {
    background: linear-gradient(135deg, #ff00d4 7%, #FFD700 50.33%, #FFB732 40.66%);
}

.container {
    justify-content: center;
    text-align: center;
    margin-top: 79%;
}

h1 {
    width: 100%;
    color: #fff;
    font-size: 60px;
}