*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #dca134 8.58%, #ca3030 7%, #FFD700 20.33%, #9d5757 7%, #da9f33 30.66%, #9e4caf 27%, #da9f33 30.66%);
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100px;
}

#one a:hover {
    color: white;
}

header {
    background: linear-gradient(135deg, #ff0000 7%, #FFD700 50.33%, #FFB732 40.66%);
    color: #ffd700;
    font-family: 'arial Script MT', cursive;
    font-size: 100%;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    letter-spacing: 3px;
    font-family: 'brush Script MT', cursive;
}

nav ul li:hover {
    background: linear-gradient(135deg, #8e6666 7%, #fff700 50.33%, #ed9d07 40.66%);
    border-radius: 5px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 35px;
    color: #fff;
}

#one {
    animation-name: text;
    animation-duration: 13s;
    animation-iteration-count: infinite;
}

#one {
    animation-direction: normal;
}

@keyframes text {
    from {
        margin-left: 20%;
    }
    to {
        margin-left: 0%;
    }
}

.txt-animate1 {
    font-size: 20px;
    color: #FFD500;
    font-weight: bold;
    animation: fadeInOut 10s ease-in-out infinite;
    font-family: 'Arial Script MT', cursive;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

footer {
    background: linear-gradient(135deg, #ff0000 7%, #FFD700 50.33%, #FFB732 40.66%);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    background-position: bottom;
    width: 100%;
    bottom: 0;
}


.container-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    gap: 30px;
    justify-content: center;
    margin: 30px;
    flex: auto;
}


.item {
    background: linear-gradient(135deg, #ff0000 7%, #FFD700 50.33%, #FFB732 40.66%);
    font-size: 24px;
    padding: 2px;
    margin: 2px;
    text-align: center;
    height: 440px;
    width: 380px;
}

.item:hover {
    background: linear-gradient(135deg, #8e6666 7%, #fff700 50.33%, #ed9d07 40.66%);
    transition: all 0.7s ease-in-out;
}

.item .pix {
    width: 340px;
    height: 340px;
    margin: 7px 0 0 15px;
    background-size: cover;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
}

img {
    width: 280px;
    height: 340px;
    margin: 7px 0 0 0;
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.item .pix:hover {
    width: 330px;
    height: 330px;
    margin: 6px ;
    transition: all 0.8s ease-in-out;
    box-shadow: 10px 10px 5px rgb(80, 79, 79);
}

.item-slides {
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    animation: slideAnimation 5s infinite;
    width: 100%;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    flex: 1 0 100%;
    position: relative;
    width: 100%;
}

.pix1{
    background-image: url(/img/POS.jpg);
}

.pix2 {
    background-image: url(/img/Data.png);
}

.pix3 {
    background-image: url(/img/vr\ designer.jpg);
}

.pix4 {
    background-image: url(/img/vr\ flashing.jpg);
}

.pix5 {
    background-image: url(/img/web_developer.jpg);
}

.pix6 {
    background-image: url(/img/convert-psd-to-html-edith-figma-to-html-css-bootstrap.jpeg);
}


/**********************slide*********************************
.img:nth-child(1) {
   /* background-image: url(../img/book.png);*
}
.img:nth-child(2) {
    /*background-image: url(../img/bkc1.jpg);*
}

.img:nth-child(3) {
    /*background-image: url(../img/vr\ bkc2,jpg);*
}

.img:nth-child(4) {
    /*background-image: url(../img/vr\ bck3.jpg);*
}

.pix7:nth-child(5) {
   /* background-image: url(../img/vr\ flashing.jpg);*
}*/


@keyframes slideAnimation {
    0% {transform: translateX(0%);}
    20% {transform: translateX(0%);}
    25% {transform: translateX(-100%);}
    45% {transform: translateX(-100%);}
    50% {transform: translateX(-200%);}
    70% {transform: translateX(-200%);}
    75% {transform: translateX(-300%);}
    95% {transform: translateX(-300%);}
    100% {transform: translateX(0%);}
}

/************************************************************
.pix72 {
    background-image: url(../img/book.png);
}

.pix71 {
    background-image: url(../img/bkc1.jpg);
}

.pix73 {
    background-image: url(../img/vr\ bkc2,jpg);
}

.pix74 {
    background-image: url(../img/vr\ bck3.jpg);
}

.pix75 {
    background-image: url(../img/bck4.jpg);
}
/************************************************************/

.pix8 {
    background-image: url(/img/VR-Music\ Distribution.png);
}

.pix9 {
    background-image: url(/img/VR-\ boosting\ social\ media\ account.png);
}

.pix10 {
    background-image: url(/img/bkc4.jpg);
}

.pix11 {
    background-image: url(/img/VR-Music\ Distribution.png);
}

.pix12 {
    background-image: url(/img/convert-psd-to-html-edith-figma-to-html-css-bootstrap.jpeg);
}

.btn {
    margin-top: 380px;
    height: 35px;
    width: 120px;
    position: relative;
    border: 0 5px 0 5px solid;
    box-shadow: 10px 10px 5px rgb(80, 79, 79);
}

.btn:hover {
    box-shadow: 5px 2px 10px 0 black;
    transition: all 0.6s ease-in-out;
    cursor: pointer;
}

.item-title {
    margin-top: 80px;
}

@media screen and (max-width: 400px) {
    .container-box {
        /*display: flex;*/
        justify-content: center;
        margin: 0;
        flex: auto;
    }

    img {
        background: linear-gradient(135deg, #ff0000 7%, #FFD700 50.33%, #FFB732 40.66%);
        box-shadow: 10px 1px 6px 0 rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.3) inset;
        padding: 10px;
        display: inline-block;
        animation: spin 2s linear infinite;
        perspective: 100px;
        position: relative;
        margin-top: -25px;
        width: 120px;
        height: 120px;
    }
}

/************************************** contact form**********************************************/

* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=tel], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #04aa6d;
    color: #ffff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.form-container {
    border-radius: 5px;
    /*background-color: #f2f2f2;*/
    padding: 20px;
}

.col-1 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-2 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/*this clears floats after col*/

.row-1::after {
    content:  "";
    display: table;
    clear: both;
}
/********** SCREEN@ < 600PX WIDE  *********/

@media screen and (max-width: 600px) {
    .col-1, .col-2, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}